    <% if !current_user.boards.any? %>
    <p> You must have at least one board to create a new interest</p>
    <p>Please create a new pin:</p><br>
    	<%= link_to "create a new board", new_board_path  %>
    	<% end %>

<%= form_for @interest , html: { multipart: true } do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :Image %>
      <%= f.file_field :image %>
    </div>
    <div class = "form-group">
      <%= f.label :board %>
      <%= f.select :board_id, options_from_collection_for_select(current_user.boards, "id", "title", "description"), class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>
