<div class = "row">
  <div class = "col-md-8 col-md-offset-2">

    <p>Posted under: <%= link_to @interest.board.title, @interest.board %></p>

    <%= image_tag @interest.image.url, class: 'img-responsive', style: 'width: 100%' %>

    <%= @interest.description %>

    <%= link_to("link", @interest.url) %>



    <h2>Notes and Comments</h2>
    <% @interest.comments.each do |comment| %>
      <p><%= comment.body %></p>
      <p>
        <strong>- <%= comment.user.username %></strong>
      </p>

      <hr>

    <% end %>

    <% if user_signed_in? %>
      <h2>Add a note or comment:</h2>
      <%= form_for([@interest, @interest.comments.build]) do |f| %>
        <p>
          <%= f.label :comment %><br>
          <%= f.text_area(:body, rows: 10) %>
        </p>
        <p>
          <%= f.submit class: 'btn btn-info btn-sm' %>
        </p>
      <% end %>
    <% end %>

</div>
</div>
