<h1>Interests</h1>
<p>
	<%= @interest.name %>
	<%= @interest.description %>
	<div class="">

		<%= image_tag(@interest.image.url(:thumb)) %>
	</div>

	<%= link_to("Edit", edit_interest_path(@interest)) %>
	<%= link_to("Back", interest_path) %>
</p>