<h1>Boards : <%= @board.title %></h1>
  
<p><%= @board.user.username %></p>
<h3>
  <%= link_to image_tag(@board.user.avatar.url(:thumb)), user_path(@board.user.username) %>
  <%= link_to @board.user.username, user_path(@board.user.username) %>
</h3>
<p><%= @board.user.bio %></p><br>


<div class="grid row">
  <% @board.interests.each do |interest| %>
    <div class = "grid-item col-md-3 col-sm-4 col-xs-12">
      <div class = "interest grid-item-content">
        <div class = "interest-image">
          <%= link_to image_tag(interest.image.url(:medium)), interest %>
        </div>
        <div class = "interest-content">
          <div class = "interest-description">
            <%= interest.description %>
          </div>
          <div class = "user">
            <div class = "user-detail"><%= interest.user.username %></div>
            <% if interest.user == current_user %>
            <div class = "user-actions">
              <%= link_to 'Edit', edit_interest_path(interest) %>
              <%= link_to 'Delete', interest, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
